body {
    color: #000;
    background-color: #fbfbfb;
    font-size: 24px;
    font-family: 'Linux Libertine',serif;
    line-height: 140%;
    text-rendering: optimizeLegibility;
}

h1, h2, h3 {
    font-family: 'Linux Biolinum',sans;
}

h1 {
    font-size: 150%;
    line-height: 110%;
}

h2 {
    font-size: 115%;
}

h3 {
    font-size: 100%;
}

a {
    color: #5b6ee1;
    text-decoration: none;
}

a:hover {
    color: #306082;
    background-color: #f3f3f3;
}

a:visited {
    color: #306082;
}

pre {
    font-family: "Inconsolata",monospace;
    width: calc(100% - 1rem);
    line-height: 110%;
    overflow-x: auto;
    padding: 0.5rem;
    background-color: #f2f2f2;  /* #222034; */
    color: #555;  /* #deeed6; */
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

pre code {
    font-family: "Inconsolata",monospace;
}

p code, li code {
    font-family: "Inconsolata",monospace;
    background-color: #eee;
}

blockquote {
    padding-left: 2rem;
    border-left: 5px solid #eee;
    font-style: italic;
}

.feed-icon {
    padding-left: 1rem;
}

/* Footer */

footer {
    border-top: 1px solid #ccc;
    font-size: 80%;
}

.copyright {
    text-align: center;
}

.cc-button {
    margin-left: 1rem;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Linux Biolinum',sans;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding-right: 1rem;
}

nav li:first-child {
    padding-left: 0;
}

nav a {
    display: inline-block;
    color: #000;
}

nav a:hover {
    color: #000;
}

nav a:visited {
    color: #000;
}

@media (min-width: 1140px) {
    .container {
        margin-left: 14rem;
        margin-right: 4rem;
        max-width: 60rem;
    }
}

@media (min-width: 800px) and (max-width: 1140px) {
    .container {
        margin-left: 6rem;
        margin-right: 4rem;
        max-width: 52rem;
    }
}

@media (max-width: 800px) {
    .container {
        margin: 1rem;
    }
}

.fade-text {
    color: #ddd;
}

/* Summaries */

.summary {
    margin-bottom: 3rem;
}

.summary .date {
    margin-bottom: 0rem;
}

.summary p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Posts */

.date {
    margin-top: -1rem;
    color: #666;
}

.tags {
    margin-top: -1rem;
    color: #666;
    font-size: 80%;
}

.tags ul {
    display: inline-block;
    padding-left: 0.5rem;
}

.tags li {
    display: inline-block;
    padding: 0.5rem;
}

.post img, .centered-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    border-radius: 4px;
}

.post video {
    display: block;
    margin: 0 auto;
    padding: 0px;
    max-width: 100%;
}

.caption {
    text-align: center;
    margin: 0;
    margin-left: 4rem;
    margin-right: 4rem;
}

iframe {
    border: none;
    width: 100%;
}

/* Pagination */

.paginator {
    display: flex;
    justify-content: space-between;
}

.paginator-next {
    margin-left: auto;
}

/* Syntax Highlighting */

.syntax-special, .syntax-element {
    color: #8ac6f2;
    font-weight: bold;
}

.syntax-string {
    color: #95e454;
}

.syntax-keyword, .syntax-attribute {
    color: #e5786d;
}

.syntax-comment {
    color: #999;
}

.syntax-open, .syntax-close {
    color: #999;
}

/* org-mode css */
/* pre { */
/*     border: 1px solid #e6e6e6; */
/*     border-radius: 3px; */
/*     background-color: #f2f2f2; */
/*     padding: 8pt; */
/*     font-family: monospace; */
/*     overflow: auto; */
/*     margin: 1.2em; */
/* } */
pre.src {
    position: relative;
    overflow: auto;
}
pre.src:before {
    display: none;
    position: absolute;
    top: -8px;
    right: 12px;
    padding: 3px;
    color: #555;
    background-color: #f2f2f299;
}
pre.src:hover:before { display: inline; margin-top: 14px;}
/* Languages per Org manual */
pre.src-asymptote:before { content: 'Asymptote'; }
pre.src-awk:before { content: 'Awk'; }
pre.src-authinfo::before { content: 'Authinfo'; }
pre.src-C:before { content: 'C'; }
/* pre.src-C++ doesn't work in CSS */
pre.src-clojure:before { content: 'Clojure'; }
pre.src-css:before { content: 'CSS'; }
pre.src-D:before { content: 'D'; }
pre.src-ditaa:before { content: 'ditaa'; }
pre.src-dot:before { content: 'Graphviz'; }
pre.src-calc:before { content: 'Emacs Calc'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-fortran:before { content: 'Fortran'; }
pre.src-gnuplot:before { content: 'gnuplot'; }
pre.src-haskell:before { content: 'Haskell'; }
pre.src-hledger:before { content: 'hledger'; }
pre.src-java:before { content: 'Java'; }
pre.src-js:before { content: 'Javascript'; }
pre.src-latex:before { content: 'LaTeX'; }
pre.src-ledger:before { content: 'Ledger'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-lilypond:before { content: 'Lilypond'; }
pre.src-lua:before { content: 'Lua'; }
pre.src-matlab:before { content: 'MATLAB'; }
pre.src-mscgen:before { content: 'Mscgen'; }
pre.src-ocaml:before { content: 'Objective Caml'; }
pre.src-octave:before { content: 'Octave'; }
pre.src-org:before { content: 'Org mode'; }
pre.src-oz:before { content: 'OZ'; }
pre.src-plantuml:before { content: 'Plantuml'; }
pre.src-processing:before { content: 'Processing.js'; }
pre.src-python:before { content: 'Python'; }
pre.src-R:before { content: 'R'; }
pre.src-ruby:before { content: 'Ruby'; }
pre.src-sass:before { content: 'Sass'; }
pre.src-scheme:before { content: 'Scheme'; }
pre.src-screen:before { content: 'Gnu Screen'; }
pre.src-sed:before { content: 'Sed'; }
pre.src-sh:before { content: 'shell'; }
pre.src-sql:before { content: 'SQL'; }
pre.src-sqlite:before { content: 'SQLite'; }
/* additional languages in org.el's org-babel-load-languages alist */
pre.src-forth:before { content: 'Forth'; }
pre.src-io:before { content: 'IO'; }
pre.src-J:before { content: 'J'; }
pre.src-makefile:before { content: 'Makefile'; }
pre.src-maxima:before { content: 'Maxima'; }
pre.src-perl:before { content: 'Perl'; }
pre.src-picolisp:before { content: 'Pico Lisp'; }
pre.src-scala:before { content: 'Scala'; }
pre.src-shell:before { content: 'Shell Script'; }
pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
/* additional language identifiers per "defun org-babel-execute"
       in ob-*.el */
pre.src-cpp:before  { content: 'C++'; }
pre.src-abc:before  { content: 'ABC'; }
pre.src-coq:before  { content: 'Coq'; }
pre.src-groovy:before  { content: 'Groovy'; }
/* additional language identifiers from org-babel-shell-names in
     ob-shell.el: ob-shell is the only babel language using a lambda to put
     the execution function name together. */
pre.src-bash:before  { content: 'bash'; }
pre.src-csh:before  { content: 'csh'; }
pre.src-ash:before  { content: 'ash'; }
pre.src-dash:before  { content: 'dash'; }
pre.src-ksh:before  { content: 'ksh'; }
pre.src-mksh:before  { content: 'mksh'; }
pre.src-posh:before  { content: 'posh'; }
/* Additional Emacs modes also supported by the LaTeX listings package */
pre.src-ada:before { content: 'Ada'; }
pre.src-asm:before { content: 'Assembler'; }
pre.src-caml:before { content: 'Caml'; }
pre.src-delphi:before { content: 'Delphi'; }
pre.src-html:before { content: 'HTML'; }
pre.src-idl:before { content: 'IDL'; }
pre.src-mercury:before { content: 'Mercury'; }
pre.src-metapost:before { content: 'MetaPost'; }
pre.src-modula-2:before { content: 'Modula-2'; }
pre.src-pascal:before { content: 'Pascal'; }
pre.src-ps:before { content: 'PostScript'; }
pre.src-prolog:before { content: 'Prolog'; }
pre.src-simula:before { content: 'Simula'; }
pre.src-tcl:before { content: 'tcl'; }
pre.src-tex:before { content: 'TeX'; }
pre.src-plain-tex:before { content: 'Plain TeX'; }
pre.src-verilog:before { content: 'Verilog'; }
pre.src-vhdl:before { content: 'VHDL'; }
pre.src-xml:before { content: 'XML'; }
pre.src-nxml:before { content: 'XML'; }
/* add a generic configuration mode; LaTeX export needs an additional
     (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
pre.src-conf:before { content: 'Configuration File'; }

table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center;  }
th.org-left   { text-align: center;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }
dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.equation-container {
    display: table;
    text-align: center;
    width: 100%;
}
.equation {
    vertical-align: middle;
}
.equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label
{ font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight
{ background-color: #ffff00; color: #000000; font-weight: bold; }
.org-svg { }
